.confirmados-ativos {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;        
  overflow: hidden;
}
.mortes {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.numero_de_reproducao {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}


.content {
  display: block;
  position: relative;
  pointer-events: all;
  top: 0;
  left: 0;
}

.axis-title {
  font-size: 17px;
  font-family: Helvetica;
  fill: #525252;
} 
.ci {
  opacity: 0.1;
  fill: #252525;
} 
.filled {
    fill: url(#mainGradient);
}
.focus-per-line {
  font-size: 10px;
  font-family: Helvetica;
}   
.hover-line {
  stroke: #737373;
  stroke-width: 0.75px;
}
.legend {
  font-size: 14px;
  font-family: Helvetica;
} 
.line {
  stroke-width:1.75;
  fill: none;
}
.outlined {
    fill:   none;
    stroke: url(#mainGradient);
    stroke-width: 1.25;
}
.overlay {
  fill: none;
  pointer-events: all;
}
.tooltip-text {
  font-family: Helvetica;
  font-size: 14px;
}
.tooltip-date {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
}
.tooltip-html {
  position: absolute;
  width:  auto;
  height: auto;
  pointer-events: none;
  background-color: white;
  font-family: Helvetica;
  box-sizing: border-box;
  padding: .15%;
}   
.spacedParagraph {
  margin-bottom:60px;
} 
.xAxis {
  font-size: 15px;
  font-family: Helvetica;
} 
#incidencia .xAxis {
  font-size: 14px;
  font-family: Helvetica;
} 
.yAxis {
  font-size: 15px;
  font-family: Helvetica;
} 
.yAxis line {
  stroke: #525252;
}

div {
  display: block;
}               
button {
  display: inline-block;
  position:relative;
  z-index: 1000;
  font-size: 15px;
}  