.streaks {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;        
  overflow: hidden;
}
.simplebarplot {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.barplot {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;        
  overflow: hidden;
}
.hours {
    display: block;
    position: absolute;
    top: 0;
}
.streamchart {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
}
.barchartrace {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.lineplot {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.bandplot {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.multilineplot {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.thresholdplot {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}


.content {
  display: block;
  position: relative;
  pointer-events: all;
  top: 0;
  left: 0;
}
.content_hours {
  display: block;
  position: relative;
  pointer-events: all;
  top: 0;
  left: 25%;
}

.axis-title {
  font-size: 17px;
  font-family: Helvetica;
  fill: #525252;
} 
.ci {
  opacity: 0.1;
  fill: #252525;
} 
.clock {
  stroke: #542788;
  stroke-width: 4px;
  opacity: 1;
}
.filled {
    fill: url(#mainGradient);
}
.focus circle {
  fill: #F1F3F3;
  stroke: #252525;
  stroke-width: 1px;
}
.focus-per-line {
  font-size: 10px;
  font-family: Helvetica;
}   
.focus-per-line .circle {
  fill: #F1F3F3;
  stroke-width: 1px;
}
.hover-line {
  stroke: #737373;
  stroke-width: 0.75px;
}
.legend {
  font-size: 13px;
  font-family: Helvetica;
} 
.line {
  fill: none;
  stroke: #252525;
  stroke-width: 2.5;
}
.map {
  stroke: #737373;
  stroke-width: 1;
}
.multiline{
  stroke-width:1.5;
  fill: none;
}
.one-line {
  fill: none;
  stroke-width: 2.5;
  stroke: "black";
} 
.outlined {
    fill:   none;
    stroke: url(#mainGradient);
    stroke-width: 1.25;
}
.overlay {
  fill: none;
  pointer-events: all;
}
.text-clock {
  font-family: Helvetica;
  font-weight: 100;
  font-size: 20px;
}
.tick-clock {
  stroke: #542788;
  stroke-width: 2;
}
.tooltip-html {
  position: absolute;
  width:  auto;
  height: auto;
  pointer-events: none;
  background-color: white;
  font-family: Helvetica;
  box-sizing: border-box;
  padding: .15%;
  font-size: .5vw;  
}     
.focus .tooltip-confirmed {
  font-family: Helvetica;
  font-size: 14px;
}
.focus .tooltip-date {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
}
.focus-per-line text {
  font-family: Helvetica;
  font-size: 14px;
}
.focus .tooltip-y {
  font-family: Helvetica;
  font-size: 14px;
}
.focus .tooltip-x {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
}
.spacedParagraph {
  margin-bottom:60px;
} 
.tooltip-stream {
    position: absolute;
    fill: #252525;
    font-family: Helvetica;
}
.xAxis {
  font-size: 15px;
  font-family: Helvetica;
} 
.xAxisBand {
  font-size: 15px;
  font-family: Helvetica;
}
.yAxis {
  font-size: 15px;
  font-family: Helvetica;
} 
.yAxis line {
  stroke: #525252;
}
.xAxisStream {
  font-size: 16px;
  font-family: Helvetica;
} 

div {
  display: block;
}               
button {
  display: inline-block;
  position:relative;
  z-index: 1000;
  font-size: 15px;
}  

#barchartrace text {
font-size: 16px;
font-family: Helvetica, sans-serif;
}
#barchartrace .title-race {
font-size: 24px;
font-weight: 500;
}

#barchartrace text.label{
font-weight: 600;
}

#barchartrace text.valueLabel{
font-weight: 300;
}

#barchartrace text.dateText{
font-size: 30px;
font-weight: 700;
opacity: 0.25;
}      
#barchartrace .tick text {
fill: #777777;
}
#barchartrace .xAxis .tick:nth-child(2) text {
text-anchor: start;
}
#barchartrace .tick line {
shape-rendering: CrispEdges;
stroke: #dddddd;
}
#barchartrace .tick line.origin{
stroke: #aaaaaa;
}
#barchartrace path.domain{
display: none;
}   